

* {
    box-sizing: border-box;
	
}

body {
    font-family: Arial;
    padding: 10px;
	   
	
}

input,textarea,select{width:250px;height:30px;}

select{width:250px;height:30px;}
textarea{height:80px;}

input[type=submit]{width:150px;height:39px; background-color:darkgreen;}





.header {
      padding: 30px;
    text-align: left;
    line-height: 10px;
    background-image: url(bg.jpeg);
    font-family: Lucida Handwriting;
    /* color: orange;*/
}
.header{
	background-color: white !important;
}
.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: green;
    color: black;
}
.post{
	border:solid;
	height:450px;
	background:url(images/i.jpeg);
}
.post h2{
	font-size:30px;
	color:red;
	
}
.limg{
	text-align:center;
}


.entry{
	border:solid;
	height:300px;
}



.footer {
    padding: 15px;
    text-align: center;
    background: pink;
    
	
}




